  section{
    padding-bottom: 4rem !important;
  }
  .secbox{
    background:transparent !important;
    margin-top:6vw !important;
  }

  .secbox-heading{
    background: transparent !important;
    color:black !important;
    text-decoration: underline;
    text-decoration-color: red;
  }
  .files{
    margin:2rem 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .file{
    background-color: rgba(0,0,0,0.06);
    width:28%;
    padding:2vw;
    margin:1vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
  }
  @media (max-width:600px) {
    .file{
      background-color: rgba(0,0,0,0.06);
      width:46%;
      padding:2vw;
      margin:1vw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      /* justify-content: center; */
    }
  }

  .file a {
    text-decoration: none;
  }

  .file a img{
    width:4rem;
  }

  @media (max-width:800px){
    .file a img{
       width:3rem;
    }
  }

  .file p{
    font-size: 1.3vw;
    text-align: center;
    /* padding: 0.5vw; */
    margin: 1.5vw;
    color:black;
  }

  .certified-by{
    background-color:#8AAAE5 ;
    padding:1vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .certified-by span{
    font-size: 1.5vw;
    color:white;
  }
  .certified-by img{
    width:16rem;
    margin:1vw;
  }
  @media (max-width:600px) {   
    .certified-by img{
      width:11rem;
      margin:1vw;
    }
  }