<footer>
          <div class="company-details">
              <div class="footer-box">
                  <img src="./images/logo2.png" alt="Company Logo" class="foot-logo">
                  <div class="handles">
                      <a href="https://www.facebook.com/BRIKMONT2014" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                      <i class="fa-brands fa-square-instagram"></i>
                      <i class="fa-brands fa-youtube"></i>
                      <i class="fa-brands fa-square-whatsapp"></i>
                      <i class="fa-brands fa-square-x-twitter"></i>
                      <i class="fa-brands fa-linkedin"></i>
                  </div>
              </div>
              <div class="footer-box">
                  <h3>Useful Links</h3>
                  <a href="./index.html">Home</a>
                  <a href="./about.html">Who We Are</a>
                  <a href="./cables.html">Products</a>
                  <a href="./gallery.html">News & Media</a>
                  <a href="./contactUs.html">Contact Us</a>
              </div>
              <div class="footer-box">
                  <h3>Contact Us</h3>
                  <p><i class="fa-solid fa-location-dot"></i> reg office S.S INDUSTRIES 58, Netaji Subhas Road, Liluah, Howrah - 711204</p>
                  <p><i class="fa-solid fa-location-dot"></i> corporate office S.S. INDUSTRIES   36A HARIN BARI LANE KOLKATA-700073</p>
                  <!-- <p><i class="fa-solid fa-phone"></i> 9830166909 (Rabindra Singh)</p>
                  <p><i class="fa-solid fa-phone"></i> 9830135305 (Samir Kr. Dey)</p> -->
                  <p><i class="fa-solid fa-phone"></i> 8617289260 (Neha Singh)</p>
                  <p><i class="fa-solid fa-envelope"></i> ssindustries2014@gmail.com</p>
              </div>
          </div>
      </footer>