<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">
            <img src="./images/nav-logo-img.png" alt="Brick Mont Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="./index.html">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="./about.html" role="button" data-bs-toggle="dropdown">Who We Are</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./about.html#about1">Overview</a></li>
                        <li><a class="dropdown-item" href="./about.html#about2">Our Leadership</a></li>
                        <li><a class="dropdown-item" href="./about.html#about5">Vision &amp; Mission</a></li>
                        <li><a class="dropdown-item" href="./about.html#about6">Clients</a></li>
                        <li><a class="dropdown-item" href="./about.html#about7">Why Choose Us</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Products</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./cables.html">Cables</a></li>
                        <li><a class="dropdown-item" href="./cables.html">Ariel Bunched Cables</a></li>
                        <li><a class="dropdown-item" href="./conductor.html">Conductor</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    News & Media
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="./gallery.html">Gallery</a></li>
                    <li><a class="dropdown-item" href="./certificates.html">Certificates</a></li>
                    <li><a class="dropdown-item" href="#">News</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link active" href="./contactUs.html">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>